.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.line {
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 1rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.nav a:hover {
  color: rgb(201, 252, 255);
}

/* register form */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%; /* Set width */
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px #ccc;
  font-size: 1.2rem;
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(0, 0, 0);
}

a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: rgb(1, 2, 2);
}

.errmsg {
  color: #f00;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.valid {
  color: green;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}

.instructions {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.instructions span {
  margin-left: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/* ads list */
.ads {
  margin: 2rem auto;
  max-width: 600px;
}

.ads h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ads ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ads li {
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ads li p {
  font-size: 1.2rem;
  text-align: left;
}

.ads li p:first-of-type {
  font-weight: bold;
  text-align: center;
}

.ads li p:nth-of-type(2) {
  margin-top: 0.5rem;
}

.ads li p:last-of-type {
  margin-top: 0.5rem;
  font-style: italic;
}

.ads p.no-ads {
  font-size: 1.2rem;
  font-style: italic;
}

/* Add Edit Ad */
/* Form Container */
.form-container {
  margin: 2rem auto;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Common Input Fields Styles */
.form-input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px #ccc;
  font-size: 1.2rem;
  width: 100%; /* Set width */
  box-sizing: border-box; /* Include padding and border in element's total width */
}

/* Textarea */
.form-input.description-textarea {
  resize: vertical;
  min-height: 80px;
}

/* Ad Component styles */
.ad-container {
  text-align: left;
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
  padding-left: 25%;
  padding-right: 25%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ad-container h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: bold;
}

.ad-container p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.ad-container p span {
  font-weight: bold;
  color: #333;
}

.ad-action-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ad-action-buttons a,
.ad-action-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  background-color: #ddd;
  color: #333;
}

.ad-action-buttons a:hover,
.ad-action-buttons button:hover {
  background-color: #bbb;
}

.loading-message {
  font-size: 1.5rem;
  color: #777;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
}

footer span {
  font-size: 0.9rem;
}
